# Node Packages

## Project Level
node_modules/



## Backend
backend/node_modules/
backend/uploads


## Frontend
frontend/node_modules/





# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env