#
# Application
#

APPLICATION_URL="http://127.0.0.1"
PORT=5173


#
# Database / Backend
#

BACKEND_PORT=3000
DATABASE_URL="postgresql://soundbin:soundbin_dev@localhost:5433/soundbin?schema=public"


#
# Used for storing the songs files
#

# Location for docker
DOCKER_SONG_FILE_LOCATION="/app/uploads"
# Location made by user
SONG_FILE_LOCATION="./"


CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=100